body {
    margin: 0;
}

header {
    background: linear-gradient(200deg, #f368e0, #5f27cd);
    color: #f5f6fa;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1rem 1rem #dcdde1;
    margin-bottom: 50px;
}

.carte {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.img_choix {
    width: 30%;
    border-radius: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.choix {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button {
    margin-top: 30px;
    width: 100px;
}

footer {
    background: linear-gradient(200deg, #f368e0, #5f27cd);
    color: #f5f6fa;
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-shadow: 0 -1rem 1rem #dcdde1;
}