body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

header {
    background: linear-gradient(200deg, #f368e0, #5f27cd);
    color: #f5f6fa;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1rem 1rem #dcdde1;
    margin-bottom: 50px;
}

.panier {
    color: #f5f6fa;
    display: flex;
    align-items: center;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    color: #2c3e50;
    margin-left: 10px;
}

#body {
    height: 100%;
}

.title__panier {
    display: flex;
    justify-content: space-between;
    margin: 50px 10% 20px 10%;
}

.item {
    display: flex;
    justify-content: space-between;
    margin: 0 10% 20px 10%;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
    align-items: flex-end;
}

.img__title {
    display: flex;
}

.img__produit {
    height: 100px;
    margin-right: 10px;
}

.title {
    text-align: start;
}

.total {
    display: flex;
    justify-content: space-between;
    margin: 20px 10% 20px 10%;
}