body {
    margin: 0;
}

header {
    background-color: #c0392b;
    color: #2c3e50;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title__panier {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px 20px 50px;
}

.item {
    display: flex;
    justify-content: space-between;
    margin: 0 100px 20px 50px;
}

.img__title {
    display: flex;
}

.img__produit {
    height: 80px;
}

.total {
    display: flex;
    justify-content: space-between;
    margin: 20px 100px 20px 50px;
}