body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #2c3e50;
}

header {
    background: linear-gradient(200deg, #f368e0, #5f27cd);
    color: #f5f6fa;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1rem 1rem #dcdde1;
    margin-bottom: 20px;
}

.panier {
    color: #f5f6fa;
    display: flex;
    align-items: center;
}

.cart {
    font-size: 1.5rem;
    color: #2c3e50;
    margin-left: 10px;
}

.parent {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
}

.produit {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-direction: column;
    box-shadow: 0 0rem 2rem #dcdde1;
    height: 400px;
    width: 400px;
    margin: 20px;
    transition: all 300ms ease-in-out;
    border-radius: 10%;
}

.produit:hover {
    filter: webkit-brightness(0.8);
}

.img_product {
    width: 100%;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    border-radius: 10%;
}